.page.theme_dark {
  --font-family: 'IBM Plex mono', sans-serif;
  --background-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color-black: #000028;
  --bg-color: #000028;
  --shadow-title: #FF0070;
  --bg-text: #FF0070;
  --pictures-title: #000028;
}

.theme_dark .header__decorative-element {
  display: block;
}