.page.theme_light {
  --font-family: 'IBM Plex mono', sans-serif;
  --accent-color: #353430;
  --bg-color: #FFF1F7;
  --bg-color-light: #FF8DCB;
  --title-color: #FF8DCB;
  --bg-text: #FF8DCB;
  --text-color: #353430;
  --pictures-title: #353430;
  --text-color-black: #353430;
  --background-image: url(../images/cover-image-light.png);
}


@media (prefers-color-scheme: light) {
  :root {
    --font-family: 'IBM Plex mono', sans-serif;
    --text-color-black: #353430;
    --pictures-title: #353430;
    --text-color: #353430;
    --accent-color: #353430;
    --bg-color: #FFF1F7;
    --bg-color-light: #FF8DCB;
    --title-color: #FF8DCB;
    --bg-text: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
  }
  
  .theme_light .header__decorative-element{
    display: none;
  }
  
  .header__decorative-element {
    display: none;
  }
}






